@charset "utf-8";
#contents.main{
    background-color:#eeeeee;
    padding-top:55px;
}
.main_ct{background-color:#fff;border-top:1px solid #dedede;border-bottom:1px solid #dedede}
.aside_snb{width:100%;height:69px;background-color:#ffffff;border-top:1px solid #dedede;border-bottom:1px solid #dedede;padding-bottom:11px;box-sizing:border-box;margin-bottom:6px}
.aside_snb .inner{display:table;width:100%;height:100%}
.aside_snb .inner li{display:table-cell;text-align:center;vertical-align:bottom}
.aside_snb .snb_name:before{content:'';display:block;}
.section_auction{padding:6px 7px;box-sizing:border-box;margin-bottom:10px}
.section_auction .info_auction{display:inline-block;width:77px;height:22px;border-radius:30px;-webkit-border-radius:30px;border:1px solid #e5e5e5;line-height:22px;text-align:center;font-size:12px}
.section_auction .apply_auction{float:right;line-height:26px}
.section_auction .apply_auction:after{
    content:'';
    display:inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 6px;
    border-color: transparent transparent transparent #dcdcdc;
    margin-left:3px;
    vertical-align:middle
}
.num_total{height:115px;background:url(../img/main/bg_num.png) no-repeat 0 0;background-size:cover;-webkit-background-size:cover;padding:10px 0 0 30px;box-sizing:border-box;margin-bottom:10px}
.num_total .box_total{background:rgba(255,62,130,0.4);height:26px;color:#fff;overflow:hidden;padding:0 14px;line-height:26px;margin-bottom:9px;font-size:13px}
.num_total strong{float:left;font-weight:normal}
.num_total .num{float:right}
.section_tip{padding:15px 12px 6px;margin-bottom:10px}
.section_tip:after{content:'';display:block;clear:both}
.title_flag{position:relative;width:93px;height:16px;color:#fff;background:#fa8787;display:block;margin:0 auto 15px;text-align:center;font-size:10px;font-weight:normal}
.title_flag:after{content:'';position:absolute;left:0;right:0;bottom:-6px;margin:0 auto;
width: 0;
height: 0;
border-style: solid;
border-width: 6px 4px 0 4px;
border-color: #fa8787 transparent transparent transparent;}
.link_type_tag{display:block;float:left;background:#efefef;padding:0 10px;min-height:24px;line-height:24px;border-radius:30px;-webkit-border-radius:30px;font-size:12px;margin:0 5px 9px}
.link_type_tag span:before{content:'#';margin-right:2px}
.section_rolling{margin-bottom:10px}
.section_rolling img{width:100%}
.section_pick{padding:14px 0}
.section_pick .title{text-align:center;font-size:15px;font-weight:normal;margin-top:-3px;letter-spacing:-1px;margin-bottom:12px}
.tab_pick{background:#565656;border-top:1px solid #e7e6e6;border-bottom:1px solid #e7e6e6;margin-bottom:15px}
.tab_pick .tab_inner{display:table;width:100%;height:25px;}
.tab_pick .tab_inner li{display:table-cell;text-align:center;vertical-align:middle}
.tab_pick .link_tab{color:#b3b3b3;font-size:13px}
.tab_inner li.on .link_tab{color:#fff}
